ViewController/com.oracle.mobile.xxdma/BPELProcessFetchGroupByLov.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/XXDMA/XxDmaFetchGroupByLov/BPELProcessFetchGroupByLov" xmlns:s1="http://xmlns.oracle.com/XXDMA/XxDmaFetchGroupByLov/BPELProcessFetchGroupByLov" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://www.oracle.com/XXDMA/Common">
  <import namespace="http://www.oracle.com/XXDMA/Common" schemaLocation="CommonXSD.xsd"/>
  <element name="process">
    <complexType>
      <sequence>
        <element name="TransactionHeader" type="cmn:TransactionHeaderType"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="GroupByLov" type="s1:GroupByType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        <element name="TransactionHeader" type="cmn:TransactionHeaderType"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="GroupByType">
    <sequence>
      <element name="groupByClause1" type="string"/>
      <element name="groupByClause2" type="string"/>
      <element name="groupByClause3" type="string"/>
      <element name="groupByClause4" type="string"/>
      <element name="groupByClause5" type="string"/>
      <element name="groupByClause6" type="string"/>
    </sequence>
  </complexType>
</schema>