ViewController/com.oracle.mobile.xxdma/bpelConcProgListProcess.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/XXDMA/XxDmaFndConcProgListReport/bpelConcProgListProcess" xmlns:s1="http://xmlns.oracle.com/XXDMA/XxDmaFndConcProgListReport/bpelConcProgListProcess" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="userId" type="string"/>
        <element name="respId" type="string"/>
        <element name="applId" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="ConcProgObj" type="s1:ConcProgResponseType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        <element name="result" type="string" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="ConcProgResponseType">
    <sequence>
      <element name="ConcProgName" type="string" minOccurs="0" nillable="true"/>
      <element name="ApplShortName" type="string" minOccurs="0" nillable="true"/>
    </sequence>
  </complexType>
</schema>