ViewController/com.oracle.mobile.xxdma/BPELProcessItemsLov.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/XXDMA/XxDmaFetchInvItemsLov/BPELProcessItemsLov" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xmlns.oracle.com/XXDMA/XxDmaFetchInvItemsLov/BPELProcessItemsLov" xmlns:cmn="http://www.oracle.com/XXDMA/Common">
  <import namespace="http://www.oracle.com/XXDMA/Common" schemaLocation="CommonXSD.xsd"/>
  <element name="process">
    <complexType>
      <sequence>
        <element name="TransactionHeader" type="cmn:TransactionHeaderType"/>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="itemsTypeResponse" type="ns1:itemsType" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        <element name="TransactionHeader" type="cmn:TransactionHeaderType"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="itemsType">
    <sequence>
      <element name="itemNumber" type="string" minOccurs="0" nillable="true"/>
    </sequence>
  </complexType>
</schema>